# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Firebase CLI
firebase-debug.log
firebase-debug.*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

# TypeScript incremental
*.tsbuildinfo
